.Board{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
.Board>div>image{
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

.Board>.Cell{
    z-index: -1;
}

.Board>.Cell:nth-child(even of .FirstRow),
.Board>.Cell:nth-child(odd of .SecondRow) {
    background-color: black;
}

.Board>.Cell:nth-child(odd of .FirstRow),
.Board>.Cell:nth-child(even of .SecondRow) {
    background-color: white;
}


